aiogram==2.25.2
uvloop
ujson

aiohttp[speedups]
aiodns

python-dotenv

###############################################################
###     Some useful async libraries to use with aiogram     ###
### for more: https://github.com/timofurrer/awesome-asyncio ###
##############################################################

# aiosqlite  # Async work with SQLite
# asyncpg  # Async work with PostgreSQL
# motor  # Async work with MongoDB
# pyzmq  # Async work with ZeroMQ
# piccolo  # Async ORM
# aql  # Async query builder (beta)
# httpx  # Async http client
# aiofiles  # Async work with files
# aioamqp  # Async work with AMQP
# aiocache  # Async work with cache system
# aiopath  # Async pathlib
